* {
  box-sizing: border-box;
}

body {
  background-color:#181818;
}

.account {
  font-family: Georgia, "Times New Roman",
        Times, serif;
  height: 80px;
  width: 100%;
  padding: 15px;
  justify-items: center;
  color: black;
  background-color: #f2f2f2;
}

.form-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.form-container label {
  font-size: 0.9rem;
  line-height: 2rem;
  font-weight: 500;
}

.form-container .input-text {
  width: 100%;
  border: 1px solid #555;
  line-height: 1.3rem;
}

.form-container button {
  margin-top: 20px;
  height: 1.3rem;
  width: 100%;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  flex-direction: column;
}


.accountcontainer {
  /* height: 80px;
  padding: 10px 12px;
  width: 100%; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #f2f2f2;
}

.form_wrapper {
  width: auto;
  height: 100px;
  margin: auto;
  background-color: #f2f2f2;
}


